#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --darker-green: #1a252f;
  --dark-green: #2c3e50;
  --light-green: #1abc9c;
}

nav.navbar {
  background-color: var(--dark-green) !important;
  transition: padding-block 0.3s;
}

.navbar-brand {
  font-size: calc(1.5rem + 0.5vw) !important;
}

.navbar-toggler {
  padding: 0 !important;
  border: none !important;
  filter: invert(1);
}

nav.navbar a {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

nav.navbar a.active {
  background-color: var(--light-green);
  color: #fff !important;
  border-radius: 10px;
}

.navbar-nav {
  gap: 1rem;
}

footer {
  background-color: var(--dark-green);
  color: #fff;
  text-align: center;
  margin-top: auto;
}

footer .container > div {
  padding-block: 5rem;
}

footer .socials ul li {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer > p {
  background-color: var(--darker-green);
  padding-block: 1.5rem;
  margin-bottom: 0;
}

main {
  padding-top: 15rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home {
  text-align: center;
  background-color: var(--light-green);
  color: #fff;
}

#home img {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.heading {
  font-size: calc(1rem + 0.5vw);
  margin-block: 1rem;
  --color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  font-weight: bolder;
  text-align: center;
  color: var(--color);
}
.heading span {
  position: relative;
  display: flex;
  width: fit-content;
  margin-inline: auto;
  color: var(--color);
}

.heading span::before {
  content: "";
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: calc(3rem + 4vw);
  background-color: var(--color);
}

.heading span::after {
  content: "";
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: calc(3rem + 4vw);
  background-color: var(--color);
}

#about {
  background-color: var(--light-green);
  color: #fff;
  min-height: 80vh;
  text-align: center;
}

#about h1 {
  font-weight: bolder;
}

#about > div > div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: left;
}
#about > div p {
  max-width: calc(600px);
}

#portfolio .col > div {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#portfolio img {
  max-width: 100%;
}

#portfolio .col > div .add {
  position: absolute;
  inset: 0;
  background-color: rgba(26, 188, 156, 0.9);
  color: #fff;
  font-size: calc(2rem + 5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

#portfolio .col > div:hover .add {
  opacity: 1;
}

#viewer {
  position: fixed;
  width: calc(100vw - 17px);
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 188, 156, 0.4);
}

#viewer img {
  width: 90%;
  max-width: 600px;
}

#contact {
  max-width: 800px;
}

#contact .heading {
  margin-bottom: 6rem;
}

#contact :is(input, textarea):focus {
  box-shadow: 0 0 0 0.25rem rgba(26, 188, 156, 0.3);
  border-color: rgba(26, 188, 156, 0.8);
}

#contact textarea {
  min-height: 150px;
}

#contact button {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}

#contact button:hover {
  background-color: #15a487;
  border-color: #15a487;
}
